
p {
    color: var(--color-bg-canvas); /* Styles! */
    font-size: 14px;
    font-style: arial;
    line-height: 1.5px;
  }

{
  box-sizing: content-box;
  Total width:752px
  Total height: 486px
}
  